* {
  margin: 0;
  padding: 0;
}

.parent {
  display: grid;
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-columns: 300px 100px 50px; */
  /* grid-template-columns: 1fr 5fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.child {
  border: 1px solid black;
  background-color: blueviolet;
  color: white;
  text-align: center;
}

/* .child1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
} */

.child5 {
  grid-column: -1/-2;
  grid-row: 3/4;
}

.child6{
    grid-row: 2/4;
    grid-column: 2/3;
}
